composer==0.32.1
einops==0.8.2
matplotlib==3.10.3
numpy==2.3.1
nystrom_attention==0.0.14
pandas==2.3.0
Pillow==11.3.0
pytorch_lightning==2.5.2
pytorch_optimizer==3.10.0
scikit-image==0.25.2
scikit-learn==1.7.0
scipy==1.16.0
seaborn==0.13.2
timm==0.5.4
torch==2.8.0
torchmetrics==1.7.4
torchvision==0.23.0
tqdm==4.67.1
